.App {
        text-align: center;
}

.App-link {
        color: #61dafb;
}

.page-wrapper {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
}

.counter-wrapper button {
        width: 50px;
        margin-left: 5px;
        margin-right: 5px;
}

.navbar {
        position: fixed;
        top: 0;
        width: 100%;
}

.navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
}

.navbar li {
        float: left;
}

.navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li:hover {
        background-color: #111;
}

.error-message {
        color: orangered;
}

table {
        background-color: darkgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        margin-top: 15px;
        border-radius: 15px;
}

table tbody tr {
        width: auto;
}

footer {
        color: white;
        background-color: #333;
        width: 100%;
        position: fixed;
        font-size: 10px;
        bottom: 0;
}
